@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e3dfdf;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #F97316;
  border-radius: 5px;
}
html {
  scroll-behavior: smooth;
}
body {
    font-family: "Lufga";
    scroll-behavior: smooth;
}

/* header start */

header > nav > ul > li::after,  .mobile-menu ul > li::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 0.17rem;
  background-color: #ea580c;
  left: 0;
  bottom: 0;
  transform-origin: 0% 100%;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

header > nav > ul > li:hover::after, .mobile-menu ul > li:hover::after {
  transform: scaleX(1);
}
/* header end */


/* banner start */

.slide-button-wrapper {
  border: 2px solid rgba(255, 255, 255, 0.3);
}

#button-one:checked ~ label[for="button-one"],
#button-two:checked ~ label[for="button-two"] {
    color: white;
}

#button-one:checked ~ .slide-buttons,
#button-one:hover ~ .slide-buttons {
    transform: translateX(0px);
}

#button-two:checked ~ .slide-buttons,
#button-two:hover ~ .slide-buttons 
 {
    transform: translateX(100%);
}

/* banner end */

/* service start */

.service{
    border-radius: 46px;
    background-image: url('/images/abstract-bg.png');
    background-repeat: no-repeat;
    background-size: cover;;
}

.service::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 46px;
  left: 0;
  background: rgba( 255, 255, 255, 0.10);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.4 );
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter: blur( 0px );
  border: 1px solid rgba( 255, 255, 255, 0.2 );
}

.services-layer-one {
  background-color: #757575;
  width: 80%;
}

.services-layer-two {
  width: 90%;
  background-color: #9E9D9D;
}

.inverted-radius {
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1.3px solid white;

  --r: 25px; /* the radius */
  --s: 40px; /* the size of the corner*/
  
  /* width: 250px; */
  aspect-ratio: 1;
  border-radius: var(--r);
  --_m:/calc(2*var(--r)) calc(2*var(--r))
    radial-gradient(#000 70%,#0000 72%) no-repeat;
  mask:
    right 0 bottom calc(var(--s) + var(--r)) var(--_m),
    right calc(var(--s) + var(--r)) bottom 0 var(--_m),
    radial-gradient(var(--s) at 100% 100%,#0000 99%,#000 101%) 
     calc(-1*var(--r)) calc(-1*var(--r)) no-repeat,
    conic-gradient(from 90deg at calc(100% - var(--s) - 2*var(--r)) calc(100% - var(--s) - 2*var(--r)),
     #0000 25%,#000 0);
}

/* service end */

/* about start */

.hover-btn {
  position: absolute;
  top: 0;
  height: 100%;
  width: 25%;
  --tw-bg-opacity: 1;
    background-color: rgb(249 115 22 / var(--tw-bg-opacity)); /* White color code */
  z-index: -1;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all .4s ease-in-out;
}

.hover-bx {
  left: 0;
  border-radius: 8px 0 0 8px;
}

.hover-bx2 {
  left: 25%;
}

.hover-bx3 {
  left: 50%;
}

.hover-bx4 {
  left: 75%;
  border-radius: 0 7px 7px 0;
}

.about-btn:hover .hover-btn {
  opacity: 1;
  transform: scaleX(1);
}

/* about end */

/* infinite slide animation */

@keyframes slide {
  to {
    transform: translateX(calc(-100% - 0px));
  }
}

.animate-slide {
  animation: slide 20s linear infinite;
}

/* infinite slide animation */


/* projects start */
.projects{
  border-radius: 46px;
  background-image: url('/images/abstract-bg.png');
  background-repeat: no-repeat;
  background-size: cover;;
}

.projects::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 46px;
  top: 0;
  left: 0;
  background: rgba( 255, 255, 255, 0.10);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.4 );
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter: blur( 0px );
  border: 1px solid rgba( 255, 255, 255, 0.2 );
}

.projects-wrapper {
  background: rgba( 255, 255, 255, 0.1 );
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter: blur( 0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* projects end */

/* contact start */

.contact-input{
  background: rgba( 255, 255, 255, 0.25 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.contact-btn span{
  background-color: white;
}

.contact-btn:hover .hover-btn {
  opacity: 1;
  transform: scaleX(1);
}
.social-link::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 0.5s;
  z-index: 0;
  border-radius: 50%;
}

.social-link:hover::before {
  top: 0;
}

/* contact end */

/* footer icons css */

.icon {
  transform: rotateY(0deg);
  transition: transform 0.5s ease;
}

.social-icons-container li:hover .icon {
  transform: rotateY(360deg);
}

.social-link.github::before {
  background-color: #333333;
}

.social-link.codepen::before {
  background-color: #333333;
}

.social-link.linkedin::before {
  background-color: #0077b5;
}
